#sidebar {
  @media screen and (min-width: 992px) {
    padding-right: 7px;
  }
  h4 {
    color: #e61052;
    margin: 0 0 15px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 19px;
    &:after {
      position: absolute;
      left: -999px;
      right: -999px;
      bottom: 0;
      border-top: 1px dotted #d9cbb6;
      height: 0;
      content: '';
    }
  }
}

.social-networks {
  @extend %listreset;

  letter-spacing: -4px;
  margin: 0 -9px;
  padding: 2px 0 5px;
  li {
    display: inline-block;
    vertical-align: top;
    line-height: 1.8333333;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 2px 9px;
  }
  span {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    &.facebook {
      @include sprite($sprite-1x-facebook);
      background-image: url(../img/common/sprites@1x.png);
    }
    &.twitter {
      @include sprite($sprite-1x-twitter);
      background-image: url(../img/common/sprites@1x.png);
    }
    &.google {
      @include sprite($sprite-1x-google);
      background-image: url(../img/common/sprites@1x.png);
    }
  }
}

.aside-list {
  @extend %listreset;
  li {
    position: relative;
    padding-left: 25px;
    & + li {
      margin-top: 10px;
    }
  }
  a {
    &:before {
      position: absolute;
      content: '';
      top: 5px;
      left: 0;
      @include sprite($sprite-1x-arrow);
      background-image: url(../img/common/sprites@1x.png);
    }
  }
}

.widget {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 2px rgba(0,0,0,.05);
  margin-bottom: 20px;
  padding: 18px 20px 13px;
  address {
    margin: 0;
    span {
      display: block;
    }
  }
}
