
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #EF4C23 !default;
$arrow-town: #97866f;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-size: 1.2em !default;
$font-line-height: 1.6666667 !default;

